body {
  background-color: #F3EBE9;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 45px 20px;
  background-color: #fff;
}

h1 {
  font-family: 'Baskerville', serif;

}

h1 a {
  text-decoration: none;
  color: rgb(152,173,166);
}
